### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Witaj-w-AZET index.php
RewriteRule strona-glowna menu_glowne.php
RewriteRule dodaj-wydatek dodaj_wydatek.php
RewriteRule dodaj-wplyw dodaj_wplyw.php
RewriteRule ustawienia ustawienia.php
RewriteRule bilans bilans.php



